
<div class="card" >
  <div class="card-header">
    <h5>{{weatherInfo.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Country: {{weatherInfo.sys.country}}</li>
    <li class="list-group-item">Temperature: {{weatherInfo.main.temp}}°</li>
    <li class="list-group-item">Weather: {{weatherInfo.weather[0].main}}</li>
    <li class="list-group-item">Weather description: {{weatherInfo.weather[0].description}}</li>
    <li class="list-group-item">Wind speed: {{weatherInfo.wind.speed}}</li>
  </ul>
</div>
